@import "tailwindcss";

@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/SF-Pro/SF-Pro-Display-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/SF-Pro/SF-Pro-Display-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/SF-Pro/SF-Pro-Display-Bold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/SF-Pro/SF-Pro-Display-Semibold.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}

html {
  overflow: -moz-scrollbars-none; 
  scrollbar-width: none; 
  -ms-overflow-style: none;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  overscroll-behavior-y: contain;
}

body::-webkit-scrollbar {
  display: none;
}

#root {
  --background: #ffffff;
  --foreground: oklch(0.145 0 0);
  --card: #ffffff;
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: #030213;
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.95 0.0058 264.53);
  --secondary-foreground: #030213;
  --muted: #ececf0;
  --muted-foreground: #717182;
  --accent: #e9ebef;
  --accent-foreground: #030213;
  --destructive: #d4183d;
  --destructive-foreground: #ffffff;
  --border: rgba(0, 0, 0, 0.1);
  --input: transparent;
  --input-background: #f3f3f5;
  --switch-background: #cbced4;
  --font-weight-medium: 500;
  --font-weight-normal: 400;
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: #030213;
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --colorMode-border-primary: #c9e6f94d;
  --color-primary: #ffffff;
}

@layer base {
  * {
    border-color: var(--border);
    outline-color: var(--ring);
  }

  body {
    color: var(--foreground);
    font-family: "SF Pro Display", sans-serif !important;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
  }
}

body {
  color: var(--foreground) !important;
  font-family: "SF Pro Display", sans-serif !important;
}

html {
  font-size: var(--font-size);
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: auto;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.operation-card-border {
  border: 0.5px solid var(--colorMode-border-primary, #c9e6f94d);
}

.vignette-square-mask {
  position: absolute;
  inset: 0;
  background-color: rgba(22, 22, 22, 0.5);
  mask-image: radial-gradient(
    closest-side,
    transparent 0%,
    transparent 25%,
    black 25%,
    black 100%
  );
  -webkit-mask-image: radial-gradient(
    closest-side,
    transparent 0%,
    transparent 25%,
    black 25%,
    black 100%
  );
  mask-composite: exclude;
  -webkit-mask-composite: destination-out;
}

.theme-standard h3 {
  color: #191919 !important;
}

.theme-primary,
h3 {
  color: #ffffff !important;
}

.subheader {
  font-size: clamp(14px, 3vw, 16px);
}

.caption {
  font-size: clamp(12px, 3vw, 14px);
}
.caption-2 {
  font-size: clamp(12px, 3vw, 14px);
}
.caption-3 {
  font-size: clamp(10px, 4vw, 12px);
}

.typography {
  font-size: clamp(16px, 4vw, 20px);
  font-weight: 500;
}
.typographyBody {
  font-size: clamp(16px, 4vw, 20px);
  font-weight: 400;
}